@use "./colors" as colors;
@use "./fonts" as fonts;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// Font-size: 15px;